@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
.wallpaper {
    background-image: url(images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
}
h1 {
    color: burlywood;
    background-color: rgba(75, 4, 4, 0.8);
    text-align:left;
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(0, 0, 0, 0.2);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 25xp;
    margin: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    font-size: 25px;
    font-family: 'Koulen', cursive;
}
h2 {
    color: burlywood;
    background-color: rgba(22, 88, 100, 0.6);
    text-align:left;
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(0, 0, 0, 0.2);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 25xp;
    margin: 0px;
    margin-right: 900px;
    margin-bottom: 10px;
    font-size: 25px;
    font-family: 'Koulen', cursive;
}
h3 {
    color: burlywood;
    background-color: rgba(22, 88, 100, 0.6);
    text-align:left;
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(0, 0, 0, 0.2);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 25xp;
    margin: 0px;
    margin-right: 0px;
    margin-left: 900px;
    margin-bottom: 10px;
    font-size: 25px;
    font-family: 'Koulen', cursive;
}
h4 {
    color: burlywood;
    background-color: rgba(22, 88, 100, 0.6);
    text-align:left;
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(0, 0, 0, 0.2);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 25xp;
    margin: 0px;
    margin-right: 900px;
    margin-left: 0px;
    margin-bottom: 10px;
    font-size: 25px;
    font-family: 'Koulen', cursive;
}
.paragraph {
    color: burlywood;
    text-align: center;
    border-style: solid;
    border-radius: 20px;    
    border-color: rgb(0, 0, 0, 0.4);
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 25xp;
    margin: 0px;
    margin-right: 700px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(0, 0, 0, 0.6);
    font-size: 15px;
    font-family: 'Koulen', cursive;
    
}
.paragraph1 {
    color: burlywood;
    text-align: center;
    border-style: solid;
    border-radius: 20px;    
    border-color: rgb(0, 0, 0, 0.4);
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 25xp;
    margin: 0px;
    margin-right: 0px;
    margin-left: 700px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(0, 0, 0, 0.6);
    font-size: 15px;
    font-family: 'Koulen', cursive;    
}
img {
    border-radius: 100px;
    height: 150px;

}
.img2 {
    border-radius: 10px;
    height: 180px;
}

.nav {
    display: flex;
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 5px;
    font-size: 25px;
    font-family: 'Koulen', cursive;  
    justify-content: space-evenly;
}
.nav a{
    color: burlywood;
    text-decoration: none;  
}
.nav a:hover {
    color: darkred;
    font-size: 30px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}
.right {
    display: block;
    /* margin-left: 1180px; */
    margin-right: auto;
    float: right;
}
#apex {
    font: 25px;
}